.navbar{
    width: 100%;
    height: 80px;
    background-color: gray;
    display: flex;
    align-items: center;
}

.logo-container {
    margin-left: px;
}

.logo-container span {
    font-weight: 500;
    cursor: pointer;
}

.links-container {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    margin-left: 20%;
}

.links a {
    text-decoration: none;
    color: black;
    font-size: larger;
    justify-content: space-between;
    margin-left: 80px;

}

.links a:hover {
    text-decoration: none;
    color: rgba(14, 34, 14 0.8);
}

.logo{
    width: 70px;
    height: 80px;
    margin-left: 40%;
}